* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* .cart{
  color: whitesmoke;
background-color:rgb(53, 53, 53);
list-style: none;
padding-left: 5%;
width: min-content;
} */

.ul {
  list-style: none;
}

.li {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-gap: 10px;
  justify-self: unset;
  width: 400px;
  justify-content: center;
  margin: 5%;
}

.middleText {
  display: flex;
  flex-direction: column;
}

.price {
  color: goldenrod;
}

/* TEST SIDEBAR */

/* The side navigation menu */
.carthide{
  visibility: hidden;
}
.cart {
  height: 100%; /* 100% Full-height */
  width: 450px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  right: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */

  color: whitesmoke;
  background-color: rgb(53, 53, 53);
  list-style: none;
  padding-left: 1%;
}

/* The navigation menu links */
.cart a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.cart a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.cart .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 0.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the cart (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .cart {
    padding-top: 15px;
  }
  .cart a {
    font-size: 18px;
  }
}
